@font-face {
  font-family: 'Busan';
  font-style: normal;
  font-weight: 400;
  src:
    url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff') format('woff');
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    min-width: 400px;
    font-family: 'ChosunGu';
  }
}

@layer components {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerMarginContainer {
    margin-top: 10vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textShadowYellow {
    text-shadow: #f2ec67 1px 0 10px;
  }
  .textShadow {
    text-shadow: #a6a6a6 1px 0 10px;
  }
}
